.*.swp
*.o

__pycache__

flightpanel
flightpanel.bin

en.stm32f4_dsp_stdperiph_lib.zip
firmware/ext-st/stdperiph.a
firmware/ext-st/STM32F4xx_DSP_StdPeriph_Lib_V1.8.0/
firmware/ext-st/include
firmware/ext-st/include-cmsis
firmware/ext-st/include-cmsis-dev
firmware/ext-st/stm32f407.ld

en.stm32cubef4.zip
firmware/cube/cube.a
firmware/cube/STM32Cube_FW_F4_V1.15.0/
firmware/cube/include-hal
firmware/cube/include-core
firmware/cube/include-cmsis
firmware/cube/stm32f4xx_hal_conf.h
firmware/cube/usbd_conf.c
firmware/cube/usbd_conf.h

fsx-plugin/fpconnect
fsx-plugin/fpconnect.exe
fsx-plugin/fpconnect.res
fsx-plugin/fpconnect.so
fsx-plugin/build
fsx-plugin/hidapi
fsx-plugin/sdk-simconnect

